@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-Regular.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-RegularItalic.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-Medium.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-MediumItalic.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-SemiBold.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-SemiBoldItalic.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Borna';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-Bold.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Borna';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url('shared/assets/fonts/Borna/Borna-BoldItalic.woff2') format('woff2'),
    url('shared/assets/fonts/Borna/Borna-BoldItalic.woff') format('woff');
}
